.alert.alert-info(ng-if="$ctrl.loading")="Loading..."
.alert.alert-warning(ng-if="!$ctrl.loading && !$ctrl.posts.length")="Oops! Looks like there are no posts..."

div(ng-if="!$ctrl.loading && $ctrl.posts.length" ng-class="{'blog-list__disabled': $ctrl.disabled}")
  blog-list(blogs='$ctrl.posts')
  .row.text-center
    ul(uib-pagination
      ng-disabled="$ctrl.disabled"
      boundary-links="true"
      boundary-link-numbers="true"
      items-per-page="$ctrl.itemsPerPage"
      total-items="$ctrl.totalItems"
      ng-model="$ctrl.currentPage"
      previous-text="<"
      first-text="<<"
      next-text=">"
      last-text=">>"
      max-size="5"
      ng-change="$ctrl.fetchAndReload()")